<template>
    <div>
        <button @click="getList()"
            class="m-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
            Refresh
        </button>
        <div class="flex flex-col" ref="container">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <ContainerTable v-bind="$data"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ContainerTable from "../partials/ContainerTable";

export default {
    name: 'ContainerList',
    components: {ContainerTable},
    data() {
        return {
            containers: []
        }
    },
    mounted() {
        this.getList()
        //setInterval(this.getList, 5000)
    },
    methods: {
        getList() {
            this.$refs.container.classList.add('loading')
            axios
                .get('/api/containers', {
                    headers: {
                        Accept: 'application/json'
                    }
                })
                .then((response) => {
                    this.containers = response.data;
                    this.$refs.container.classList.remove('loading')
                })
                .catch((reason) => {
                    console.log(reason)
                    this.$refs.container.classList.remove('loading')
                })
        }
    }
}
</script>
<style scoped>
#dashboard > div > div.loading {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-color: #ccc;
}
</style>
