<template>
    <div class="flex flex-col">
        <form ref="create" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    Name
                </label>
                <input
                    class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="name"
                    ref="name"
                    type="text" placeholder="test_container">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="image">
                    Image
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="image"
                       type="text"
                       ref="image"
                       placeholder="nginx">
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="button"
                        @click="create">
                    Submit
                </button>
            </div>
        </form>
    </div>
</template>
<script>
export default {
    name: 'ContainerCreate',
    methods: {
        create(e) {
            e.preventDefault();
            axios({
                method: 'post',
                url: '/api/containers',
                headers: { 'content-type': 'application/json' },
                data: JSON.stringify({
                    name: this.$refs.name.value,
                    image: this.$refs.image.value
                })
            });
            window.location = '/dashboard';
        }
    }
}
</script>
