<template>
        <tr>
            <td class="px-6 py-4 whitespace-nowrap">
                <a href="$attrs">{{ $attrs.Names[0].substring(1) }}</a>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
                {{ $attrs.Image.length < 20 ? $attrs.Image : $attrs.Image.substring(0,20) + '...' }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
                {{ $attrs.Command.substring(0, 30) + '...' }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap"
                :class="{ active: isActive(), stopped: isStopped(), created: isCreated() }">
                {{ $attrs.State }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
                <span v-for="host in $attrs.Ports" v-if="host.IP=='0.0.0.0'">
                    {{host.PublicPort}}:{{host.PrivatePort}}
                </span>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
                <a class="m-2" @click="stop($attrs.Id)">⏹</a>
                <a class="m-2" @click="pause($attrs.Id)">⏸</a>
                <a class="m-2" @click="start($attrs.Id)">▶️️</a>
                <a class="m-2" @click="destroy($attrs.Id)">♻️️</a>
            </td>
        </tr>
</template>
<script>

export default {
    name: 'ContainerEntry',
    methods: {
        isActive() {
            return this.$attrs.State === 'running'
        },
        isStopped() {
            return this.$attrs.State === 'exited'
        },
        isCreated() {
            return this.$attrs.State === 'created'
        },
        start(id) {
            axios({
                method: 'post',
                url: `/api/containers/${id}/start`,
                headers: { 'content-type': 'application/json' }
            });
            this.$parent.$parent.$parent.getList()
        },
        stop(id) {
            axios({
                method: 'post',
                url: `/api/containers/${id}/stop`,
                headers: { 'content-type': 'application/json' }
            });
            this.$parent.$parent.$parent.getList()
        },
        pause(id) {
            axios({
                method: 'post',
                url: `/api/containers/${id}/pause`,
                headers: { 'content-type': 'application/json' }
            });
            this.$parent.$parent.$parent.getList()
        },
        destroy(id) {
            axios({
                method: 'delete',
                url: `/api/containers/${id}`,
                headers: { 'content-type': 'application/json' },
                data: {
                    id
                }
            });
            this.$parent.$parent.$parent.getList()
        }
    }
 }
</script>
<style scoped>
a.m-2 {
    cursor: pointer;
}
.stopped {
    background: coral;
}
.active {
    background: lawngreen;
}
.created {
    background: yellow;
}
</style>
