<template>
    <tbody class="bg-white divide-y divide-gray-200">
        <ContainerEntry
            v-for="entry in $attrs.containers"
            v-bind="entry"
            :key="entry.Id" />
    </tbody>
</template>
<script>
import ContainerEntry from "./ContainerEntry";
export default {
    name: 'ContainerBody',
    components: {ContainerEntry}
}
</script>
