<template>
    <table class="min-w-full divide-y divide-gray-200">
        <ContainerHead />
        <ContainerBody v-bind="$attrs" />
    </table>
</template>
<script>
import ContainerHead from "./ContainerHead";
import ContainerBody from "./ContainerBody";
export default {
    name: 'ContainerTable',
    components: {ContainerBody, ContainerHead}
}
</script>
