<template>
    <thead class="bg-gray-50">
    <tr>
        <th scope="col"
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            v-for="column in columns"
            :key="column">
            {{ column }}
        </th>
    </tr>
    </thead>
</template>
<script>
export default {
    name: 'ContainerHead',
    data() {
        return {
            columns: [
                'Name',
                'Image',
                'Command',
                'Status',
                'Ports',
                'Actions'
            ]
        }
    },
    mounted() {}
}
</script>
